<div class="sidebar" >

  <div>
    <a href="#">
      <img src="../images/Learnen.svg" alt="learnen logo." style="width: 100%; margin: 1px;">
    </a>
  </div>

  <hr>



  <div class="sidebar-links">
  
    <a href="/dashboard/"><i class="fa-solid fa-compass"></i>Explore</a>
    <a href="/dashboard/joined"><i class="fas fa-user"></i>Joined</a>
    <!-- <a href="#"><i class="fas fa-envelope"></i>Messages</a> -->
    <a href="/dashboard/settings"><i class="fa-solid fa-right-from-bracket" style="color: rgb(208, 0, 0);"></i>Logout</a>

    <hr>

    <% if(mentor==true) { %>
      <div style="text-align: center;">
        <a href="/createroom" id="create-room"> 
          <i class="fa-solid fa-circle-plus"></i>Create
        </a>
      </div>
    <% } else { %>
      <div style="text-align: center;">
        <a href="/mentorApplication" id="create-room" > 
            
          <h6 style="font-size: small;">Want to create a room?</h6>
           <span style="font-size:small;">Apply Now.</span> <i class="fa-solid fa-heart"></i>
  
        </a>
      </div>
    <% } %>

    <% if(admin==true){ %>
    <a href="/dashboard/admin" id="admin-corner">
      <i class="fa-sharp fa-solid fa-hammer"></i> Console
    </a>
    <% } %>

  </div>
  
</div>