<<<<<<< HEAD
<div class="sidebar" >

    <div>
      <a href="#">
        <img src="../images/Learnen.svg" alt="learnen logo." style="width: 100%; margin: 1px;">
      </a>
    </div>

    <hr>
    <div style="text-align: center;">
      <button id="create-room"> 
        <i class="fa-solid fa-circle-plus"></i>Create
      </button>
    </div>

    <div class="sidebar-links">
    
      <a href="/dashboard/"><i class="fa-solid fa-compass"></i>Explore</a>
      <a href="/dashboard/joined"><i class="fas fa-user"></i>Joined</a>
      <!-- <a href="#"><i class="fas fa-envelope"></i>Messages</a> -->
      <a href="/dashboard/settings"><i class="fa-solid fa-right-from-bracket" style="color: rgb(208, 0, 0);"></i>Logout</a>


      <a href="/dashboard/admin" id="admin-corner">
        <i class="fa-sharp fa-solid fa-hammer"></i> Console
      </a>
  
    </div>

    

  </div>
=======
<div class="sidebar" >

    <div>
      <a href="#">
        <img src="../images/Learnen.svg" alt="learnen logo." style="width: 100%; margin: 1px;">
      </a>
    </div>

    <hr>
    <div style="text-align: center;">
      <button id="create-room"> 
        <i class="fa-solid fa-circle-plus"></i>Create
      </button>
    </div>

    <div class="sidebar-links">
    
      <a href="/dashboard/"><i class="fa-solid fa-compass"></i>Explore</a>
      <a href="/dashboard/joined"><i class="fas fa-user"></i>Joined</a>
      <!-- <a href="#"><i class="fas fa-envelope"></i>Messages</a> -->
      <a href="/dashboard/settings"><i class="fa-solid fa-right-from-bracket" style="color: rgb(208, 0, 0);"></i>Logout</a>


      <a href="/dashboard/admin" id="admin-corner">
        <i class="fa-sharp fa-solid fa-hammer"></i> Console
      </a>
  
    </div>

    

  </div>
>>>>>>> 25f40cb4932fb0698e6a5e25332416001d1b9cc2
  