<div class="card-grid" style="width:100%;">
  <% for(let i = 0; i < 11; i++) { %>

    <div class="card" style="width: 18rem; margin: 10px;">
      <img src="/images/lotus.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Room title</h5>
        <p class="card-text">Room description</p>
        <a href="#" class="btn btn-primary">Join Room</a>
      </div>
    </div>
    
  <% } %>
</div>