<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>
<body>
  <h1>Change Password</h1>
  <form method="post" action="/changepassword">
    
    <label>New Password:</label>
    <input type="password" name="newPassword" required><br>
    <label>Confirm New Password:</label>
    <input type="password" name="confirmPW" required><br>
    <button type="submit">Change Password</button>
  </form>
</body>
</html>