<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/contact_us.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="stylesheets/LandingPage.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans:wght@500&family=Outfit:wght@300&family=Sacramento&family=Satisfy&family=Source+Code+Pro:ital,wght@0,500;1,600;1,800&display=swap" rel="stylesheet">
</head>

<body>
    <div id="header">
        <%- include('navbar'); %>
    </div>  
    
    <div class="top">
        <div class="top_1">
            <div class="top_11">
                <h3>Get in touch</h3>
                <p class="top_matter">Want to get in touch with us? We'd love to hear from you. Here's how you can reach us...</p>
            </div>
            <img class="contact" src="/images/contact_us (1).jpg" alt="contact_us" height="170px">
        </div>
    </div>
    <div class="bottom"> 
        <div class="block_l">
            <img class="call" src="images/gmail.png" alt="contact_us" >
            <p class="talk">Talk to a member of our team</p>
            <p class="talk-content tc1">Interested in our software? Just pick up the phone </p>
            <p class="talk-content tc2">to chat with a member of our sales team.</p>
            <p><a href="mailto:someone@example.com" class="link-url" >Send email</a></p>

        </div>
        <div class="block_m">
            <img class="call" src="images/social-media.png" alt="contact_us" >
            <p class="talk">Social media</p>
            <div class="social_u">
                <div class="social">
                <img class="social-icon" src="images/whatsapp.jpg" alt="contact_us" >
                <img class="social-icon" src="images/instagram.png" alt="contact_us" >
                <img class="social-icon" src="images/twitter.png" alt="contact_us" >
                <img class="social-icon" src="images/telegram.png" alt="contact_us" >
            </div></div>
        </div>
        <div class="block_r">
            <img class="call" src="images/feedback.png" alt="feedback">
            <p class="talk">Feedback Form</p>
            <form>
                <div class="form-field">
                  <label for="email">Email:</label>
                  <input type="email" id="email" name="email" required>
                </div>
                <div class="form-field">
                  <label for="message">Message:</label>
                  <textarea id="message" name="message" rows="2" cols="30" required></textarea>
                </div>
                <input type="submit" value="Submit">
              </form>
          </div>
    </div>
    
</body>
</html>