
<%- include('./partials/db_header') -%>  
<%- include('./partials/db_sidebar') -%>
<div class="main">
    <div style="width:100%;text-align: center;margin: 50px;">
        <h1>Logout</h1>
    </div>
</div>
<%- include('./partials/db_footer') -%>