<head>
    <link rel="stylesheet" href="/styles/footer.css">
</head>
<!-- footer section start -->
<div id = "footer">
    <div id = "coloumn1">
        <p class="Learnenf">Learnen</p>
    </div>
    <div id="coloumn11">
        <div id = "coloumn2">
            <h2>EXPLORE</h2>
            <div class="underline"></div>
            <a href="about">About us</a><br>
            <a href="contactus">Contact us</a><br>
            <a href="signin-signup">Login/Signup</a><br>
            <a href="termsconditions">Terms and conditions</a><br>
        </div>
         
        <div id = "coloumn3">
            <h2>FOLLOW US</h2>
            <div class="underline"></div>
            <a href="mailto:someone@example.com" class="link-url" >Gmail</a><br>
            <a href="https://www.instagram.com/" target="_blank">Instagram</a><br>
            <a href="https://www.twitter.com/" target="_blank">Twitter</a><br>
            <a href="https://www.facebook.com/" target="_blank">Facebook</a><br>
        </div>
     </div>
</div>