	<head>
        <link rel="stylesheet" href="/styles/footer.css">
    </head>
    <!-- footer section start -->
    <div id = "footer">
        <div id = "coloumn1">
            <p class="Learnenf">Learnen</p>
        </div>
         <div id="coloumn11">
            <div id = "coloumn2">
                <h2>CATEGORIES</h2>
                <div class="underline"></div>
                <a href="">First Link</a><br>
                <a href="">Second Link</a><br>
                <a href="">Third Link</a><br>
                <a href="">Fourth Link</a><br>
            </div>
             
            <div id = "coloumn3">
                <h2>CATEGORIES</h2>
                <div class="underline"></div>
                <a href="">First Link</a><br>
                <a href="">Second Link</a><br>
                <a href="">Third Link</a><br>
                <a href="">Fourth Link</a><br>
            </div>
         </div>
    </div>