<html>
<head>
    <title>
        Learnen
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="resources">
    <link rel="stylesheet" href="/styles/LandingPage.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/9608e97d56.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Outfit:wght@300&family=Sacramento&family=Satisfy&family=Source+Code+Pro:ital,wght@0,500;1,600;1,800&display=swap" rel="stylesheet">
    <style>
        .parallax{
            background-image: url("/images/laptop0.jpg");
        }
        .parallax1{
            background-image: url("/images/p3.jpg");
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://kit.fontawesome.com/9608e97d56.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@600&family=Outfit:wght@300&family=Sacramento&family=Satisfy&family=Source+Code+Pro:ital,wght@0,500;1,600;1,800&display=swap" rel="stylesheet">
</head>


<body>
    <!--CSS Spinner-->
    <div class="spinner-wrapper">
        <i class="fa-solid fa-calendar-days"
            style="font-size:40px; position:absolute; top:8%; left:15%; color:#ff7d00"></i>
        <i class="fa-regular fa-bell" style="font-size:40px; position:absolute; top:70%; left:80%; color:#ff7d00"></i>
        <i class="fa-regular fa-face-smile"
            style="font-size:40px; position:absolute; top:55%; left:10%; color:#ff7d00"></i>
        <i class="fa-solid fa-paperclip"
            style="font-size:40px; position:absolute; top:15%; left:70%; color:#ff7d00"></i>
        <i class="fa-solid fa-pen" style="font-size:40px; position:absolute; top:80%; left:43%; color:#ff7d00"></i>
        <i class="fa-solid fa-book" style="font-size:40px; position:absolute; top:38%; left:80%; color:#ff7d00"></i>
        <i class="fa-solid fa-pen-to-square"
            style="font-size:40px; position:absolute; top:75%; left:20%; color:#ff7d00"></i>
        <i class="fa-solid fa-pencil" style="font-size:40px; position:absolute; top:15%; left:35%; color:#ff7d00"></i>
        <i class="fa-solid fa-laptop" style="font-size:40px; position:absolute; top:25%; left:55%; color:#ff7d00"></i>
        <i class="fa-solid fa-desktop" style="font-size:40px; position:absolute; top:85%; left:65%; color:#ff7d00"></i>
        <i class="fa-solid fa-tags" style="font-size:40px; position:absolute; top:90%; left:87%; color:#ff7d00"></i>
        <i class="fa-solid fa-users" style="font-size:40px; position:absolute; top:10%; left:87%; color:#ff7d00"></i>
        <i class="fa-solid fa-calculator" style="font-size:40px; position:absolute; top:60%; left:90%; color:#ff7d00"></i>
        <i class="fa-solid fa-keyboard" style="font-size:40px; position:absolute; top:33%; left:20%; color:#ff7d00"></i>
        <i class="fa-solid fa-scroll" style="font-size:40px; position:absolute; top:28%; left:5%; color:#ff7d00"></i>
        <i class="fa-solid fa-stopwatch" style="font-size:40px; position:absolute; top:80%; left:5%; color:#ff7d00"></i>
        <svg width="100%" height="100%">
            <text x="50%" y="53%" text-anchor="middle">
                Learnen
            </text>

        </svg>

    </div>
<div id="header">
    <%- include('navbar'); %>
</div>  

<div class="parallax">
    <div class="animated-title">
        <div class="text-top">
          <div>
            <span> Welcome</span>
            <span> to</span>
          </div>
        </div>
        <div class="text-bottom">
          <div> Learnen</div>
          <div id =gs>
        <button class="btn1" type="button" onclick="loadLoginPage()" >Get Started</button>
    </div>
        </div>
      </div>
      
</div>
<div class=borderb1></div>
    <div class="block1">
        <img class="certificate" src="/images/skill-development(1).png" alt="certificate" height="170px" style="padding-top: 0%;">
        <!-- <h3 style="margin-top: 0%;">Skills</h3> -->
        <p style="padding-top: 5%;">Learn From Anywhere, Anytime with Our Online Courses.Master New Skills and Advance Your Career with Our Engaging and Interactive Platform </p>
      </div>
</div>
<div class="parallax1">
     
</div>
<div class=borderb1></div>
    <div class="block1">
        <img class="certificate" src="/images/customer-behavior.png" alt="certificate" height="150px">
        <p>Don't let time or location hold you back from achieving your goals.Unlock your full potential with our comprehensive and innovative platform, sign up today and start your learning journey with us!</p>
      </div>
</div>


<%- include('footer') %>
<script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="/scripts/LandingPage.js"></script>
    <script src="/scripts/navbar.js"></script>
</body>
</html>
