<head>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<div id="left">
    <p class="Learnen">Learnen</p>
</div>
<div id="right">
    <button class="btn" type="button" onclick="loadcontactusPage()">Contact us</button>
    <button class="btn" type="button" onclick="loadLoginPage()">Log in</button>
    <button class="btn" type="button" onclick="loadLoginPage()">Sign up</button>
</div>