<head>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>
    <div id="left">
        <a href="/"><img src="/images/LearnenWhite.svg" alt="Learnen logo" style="height: 60px; margin-left: 20px;"></a>
    </div>
    
    <div id="right">
        <button class="btn" type="button" onclick="loadaboutusPage()">About us</button>
        <button class="btn" type="button" onclick="loadcontactusPage()">Contact us</button>
        <button class="btn" type="button" onclick="loadLoginPage()">Log in</button>
    </div>
    
<script src="/scripts/navbar.js"></script>
</body>