<head>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<body>
    <div id="left">
        <a href="/"><p class="Learnen">Learnen</p></a>
    </div>
    <div id="right">
        <button class="btn" type="button" onclick="loadaboutusPage()">About us</button>
        <button class="btn" type="button" onclick="loadcontactusPage()">Contact us</button>
        <button class="btn" type="button" onclick="loadLoginPage()">Log in</button>
    </div>
<script src="/scripts/navbar.js"></script>
</body>