<!-- Default Navbar -->
<head>
    <style>
        #left-logo {
        background-color: #013049;
        overflow: hidden;
      }
    </style>
</head>
<body>
    <div id="left-logo">
        <a href=""><img src="/images/LearnenWhite.svg" alt="Learnen logo" style="height: 60px; width: 150px;"></a>
    </div>
    
</body>