<head>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<<<<<<< HEAD
<body>
    <div id="left">
        <a href="/"><p class="Learnen">Learnen</p></a>
    </div>
    <div id="right">
        <button class="btn" type="button" onclick="loadaboutusPage()">About us</button>
        <button class="btn" type="button" onclick="loadcontactusPage()">Contact us</button>
        <button class="btn" type="button" onclick="loadLoginPage()">Log in</button>
    </div>
<script src="/scripts/navbar.js"></script>
</body>
=======
<div id="left">
    <p class="Learnen" onclick="loadHomePage()">Learnen</p>
</div>
<div id="right">
    <button class="btn" type="button" onclick="loadcontactusPage()">Contact us</button>
    <button class="btn" type="button" onclick="loadAboutusPage()">About us</button>
    <button class="btn" type="button" onclick="loadLoginPage()">Log in</button>
    <button class="btn" type="button" onclick="loadLoginPage()">Sign up</button>
</div>
>>>>>>> b9c89c7709df1011be691b847ff7314a84647e3c
