<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Status</title>
    <link rel="stylesheet" href="/styles/paymentstatus.css">
</head>
<body>
    <div class="subContainer">
        <button type="submit" class="btn">Submit</button>
    <div class="popup" id="popup">
        <img src="/images/tick.png">
        <h2>Thank You!</h2>
        <p>Your Payment is Successful.</p>
        <a href="dashboard"><button type="button">OK</button></a>
    </div>
</div>

</body>
</html>