<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles/premium.css">
</head>

<body>
    <div class="btn">
        <a href="/dashboard"><button id="back">Back</button></a>
    </div>

    <div class="heading">
        <h1>Premium $</h1>
    </div>

    <div class="container-1">
        <h2 id="users"><img src="/images/student.png" alt=""> Users</h2>
        <div class="container">
            <div class="column">
                <br> <br>
                <ul>
                    <li>
                        Join more than 5 study rooms
                    </li> <br> <br>
                    <li>
                        Focus mode
                    </li> <br>
                    <li>Pricing</li> <br>
                </ul>
            </div>

            <div class="column premium">
                <h2>Premium</h2>
                <ul>
                    <li><img src="/images/tick.png" alt="Yes"></li>
                    <li><img src="/images/tick.png" alt="Yes"></li> <br>
                    <li>$10.00</li>
                </ul>
            </div>

            <div class="column standard">
                <h2>Standard</h2>
                <ul>
                    <li><img src="/images/wrong.png" alt="No"></li>
                    <li><img src="/images/wrong.png" alt="No"></li> <br>
                    <li>Free</li>
                </ul>
            </div>
        </div>

        <div class="user-button">
            <a href="payment"><button class="learn-more">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Go Premium</span>
            </button></a>
        </div>
    </div>


    <br>
    <hr>
    <br>

    <div class="container-2">
        <h2 id="mentors"><img src="/images/mentor.png" alt=""> Mentors</h2>
        <div class="container">
            <div class="column">
                <br> <br>
                <ul>
                    <li>
                        Create more than 5 rooms
                    </li> <br> <br>
                    <li>
                        More than 50 users can join the room
                    </li> <br>
                    <li>Pricing</li> <br>
                </ul>
            </div>

            <div class="column premium">
                <h2>Premium</h2>
                <ul>
                    <li><img src="/images/tick.png" alt="Yes"></li>
                    <li><img src="/images/tick.png" alt="Yes"></li>
                    <li>$50.00</li>
                </ul>
            </div>

            <div class="column standard">
                <h2>Standard</h2>
                <ul>
                    <li><img src="/images/wrong.png" alt="No"></li>
                    <li><img src="/images/wrong.png" alt="No"></li> <br>
                    <li>Free</li>
                </ul>
            </div>
        </div>

        <div class="user-button" id="mentorbtn">
            <a href="payment"><button class="learn-more">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Go Premium</span>
            </button></a>
        </div>
    </div>
</body>

</html>