<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9608e97d56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/SignUp.css">
    <title>SignUp</title>
</head>

<body>
    <%- include('navbar_default'); %>
    <div class="container">
        <div class="image">
            <img src="/images/Signup.jpg" alt="Your Image">
        </div>
        <div class="wrapper">
            <div class="content-wrapper">
                <form class="login" action="/signup" method="post">
                    <div class="input-wrapper">
                        <i class="login_icon fa-solid fa-user"></i>
                        <input class="login_input" type="text" class="input-field" placeholder="Enter your Username"
                            name="signupname" required>
                    </div>
                    <div class="input-wrapper">
                        <i class="login_icon fa-solid fa-envelope"></i>
                        <input class="login_input" type="email" class="input-field" placeholder="Enter your Email"
                            name="signupemail" required>
                    </div>
                    <div class="input-wrapper">
                        <i class="login_icon fa-solid fa-lock"></i>
                        <input class="login_input" type="password" class="input-field" placeholder="Enter Password"
                            name="signuppass" required>
                    </div>
                    <div class="input-wrapper">
                        <i class="login_icon fa-solid fa-lock"></i>
                        <input class="login_input" type="password" class="input-field" placeholder="Confirm Password"
                            name="signuppass2" required>
                    </div>
                    <div class="input-wrapper">
                        <i class="login_icon fa-solid fa-user-secret"></i>
                        <label for="security_question" class="input-field">Security Question:</label>
                        
		 <select class="login_input input_select" id="security_question" name="security_question">
			<option value="What was your childhood nickname?">What was your Childhood Nickname?</option>
			<option value="What is your Favourite Sport?">What is your Favourite Sport? </option>
			<option value="What is your Favourite Cartoon?">What is your Favourite Cartoon?</option>
			<option value="Favourite Film Actor/Actress">Who is your Favourite Film Actor/Actress?</option>
			<option value="What is your favorite color?">What is your favorite Color?</option>
		</select><br>
                    </div>

                    <div class="input-wrapper">
                        <i class="login_icon fa-solid fa-circle-question"></i>
                        <input class="login_input last_field" type="text" class="input-field" placeholder="Security Answer" name="security_answer" required>
                    </div>
                    <button type="submit" class="submit_button"><span>Sign Up</span>
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>
                        </div>
                    </button>
                    <p class="signup_para">Already have an account?<br><a href="/login" class="signup_link">Sign In!</a></p>
                </form>
                <div class="social-login">
                    <h3>Continue with</h3>
                    <div class="icons">
                        <i class="fa-brands fa-google"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i>
                    </div>
                </div>
            </div>
            <div class="background-wrapper">
                <span class="background-shape background-shape-4"></span>
                <span class="background-shape background-shape-3"></span>
                <span class="background-shape background-shape-2"></span>
                <span class="background-shape background-shape-1"></span>
            </div>
        </div>
    </div>
</body>

</html>