@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
.body{
    margin:0;
    padding: 0;
    background-color: #7acce8;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    display : grid;
    grid-template-rows: 1fr 2fr;
    height: calc(100vh - 25px);
    padding : 5px;
    gap:0.5rem;
}

.top-wrapper{
    display : grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap : 0.5rem;
}

.bottom-wrapper{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap : 0.5rem;
}

.wrapper-timer{
    background-color: aquamarine;
    border-radius: 15px;
    display: inline;
}

.wrapper-title{
    background-color: aqua;
    border-radius: 15px;
}

.wrapper-participants{
    background-color: bisque;
    border-radius: 15px;
}

.wrapper-resources{
    background-color: blue;
    border-radius: 15px;
}

.wrapper-todo{
    background-color: coral;
    border-radius: 15px;
}

.heading{
    font-size: 1.9rem;
    margin : 0.75rem;
    position: relative;
    margin-left: 1rem;
    margin-top: 5rem;
    display: inline;
}

/* The switch - the box around the slider */
.switch {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 4.5em;
    height: 2em;
    margin-left: 0.2rem;
   }
   
   /* Hide default HTML checkbox */
   .switch input {
    background-color: transparent;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(100deg,#00a1c0,#ff7d00);
    transition: .4s;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #dde4eb;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(2.5em);
   }
