@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.body {
    margin: 0;
    padding: 0;
    background-color: #7acce8;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: calc(100vh - 25px);
    padding: 5px;
    gap: 0.5rem;
    background-color: #7acce8;
    border-radius: 15px;
}

.top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.bottom-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
}

.wrapper-timer {
    border-radius: 15px;
    display: inline;
    background-color: white;
    text-align: center;
    justify-content: space-around;
}

.wrapper-title {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
}

.wrapper-participants {
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 0.5fr 2fr;
}

.header-participants {
    text-align: center;
    justify-content: space-around;
}

.participants-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
    width: 450px;
    margin-left: 8px;
    justify-content: space-around;
    line-height: 1.75rem;
}


.wrapper-resources {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    justify-content: space-around;
}

.wrapper-todo {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    justify-content: space-around;
}

.participansts-list {
    text-align: left;
}

/* The switch - the box around the slider
.switch {
    font-size: 15px;
    position: relative;
    display: inline-block;
    width: 4.5em;
    height: 2em;
    margin-left: 0.2rem;
   }
   
   Hide default HTML checkbox
   .switch input {
    background-color: transparent;
    opacity: 0;
    width: 0;
    height: 0;
   }
   
   The slider
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(100deg,#00a1c0,#ff7d00);
    transition: .4s;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
   }
   
   .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-top-left-radius: 11px;
    border-bottom-right-radius: 11px;
    left: 0.3em;
    bottom: 0.3em;
    background-color: #dde4eb;
    transition: .4s;
   }
   
   input:checked + .slider {
    background-color: transparent;
   }
   
   input:checked + .slider:before {
    transform: translateX(2.5em);
   } */

.title-description {
    font-size: 1.25rem;
    font-weight: 2rem;
    color: gray;
}

.invite-wrapper {
    display: inline;

}

.focus-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(98, 72, 246, 0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
}

.focus-button:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
        8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
        17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
        36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
        99px 72px 143px rgba(0, 0, 0, 0.08);
}

.input-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 290px;
  }
  
  .input-container > span,
  .input-container .input:first-child {
    border-radius: 6px 0 0 6px;
  }
  
  .input-container > span,
  .input-container .input {
    border-radius: 0 6px 6px 0;
    margin-left: -1px;
  }
  
  .input-container span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: #6b7385;
    background: #d4def5;
    border: 1px solid #CDD9ED;
    font-weight: bold;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
  }
  
  .input {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99A3BA;
    border: 1px solid  #CDD9ED;
    background: #fff;
    transition: border 0.3s ease;
  }
  
  .input::placeholder {
    color: #CBD1DC;
  }

  .icons{
      display: flex;
      gap:1rem;
      margin: 1rem;
  }