body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FEF4E8;
  }
  
  h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  
  label {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  input[type="password"] {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  button[type="submit"] {
    background-color: #013049;
    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  button[type="submit"]:hover {
    background-color: #014b73;
  }
  
  .background-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  
  .background-shape {
    position: absolute;
    background-color: #ff8d8d;
    border-radius: 50%;
    opacity: 0.2;
  }
  
  .background-shape-1 {
    width: 12rem;
    height: 12rem;
    top: -5rem;
    right: -7rem;
  }
  
  .background-shape-2 {
    width: 8rem;
    height: 8rem;
    bottom: -2rem;
    right: -6rem;
  }
  
  .background-shape-3 {
    width: 6rem;
    height: 6rem;
    bottom: -4rem;
    left: -4rem;
  }
  
  .background-shape-4 {
    width: 4rem;
    height: 4rem;
    top: -3rem;
    left: -6rem;
  }
  