@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@media  (min-width: 00px) and (max-width: 473px) {
  body,html {
    margin: 0;
    height: 100%;
  }
  .parallax {
    background-image: url(../resources/laptop1.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .parallax1 {
    background-image: url(../resources/p3.jpg);
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .btn {
    text-align: right;
    border: none;
    font-family: Arial;
    color: #ffffff;
    font-size:15px;
    background: #013049;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    text-align: right;
    border-radius: 50px;
    font-family: Arial;
    color: #000000;
    font-size: 15px;
    background: #7acce8;
    cursor: pointer;
    padding: 10px 5px 10px 5px;;
    text-decoration: none;
  }
  
  #header {
    position: sticky;
    display: flex;
  }
  
  #left {
    padding-top: 10px;
    width: 25%;
    background: #013049;
  }
  
  #right {
    text-align: right;
    width: 75%;
    margin: 0px;
    border: 0px;
    padding: 5px;
    background-color: #013049;
  }
  
  .Learnen {
    padding: 0px;
    border: 0px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px;
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 10%;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
  }
  
  body {
    background-color: #fcfcfc;
  }
  
  #body1 {
    display: flex;
  }
  
  #leftBody {
    width: 60%;
  }
  
  #matter {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
  }
  
  #Learnen1 {
    margin-top: 70px;
    margin-left: 200px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
  }
  
  .btn1 {
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    font-size: 13px;
    background: #7acce8;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }
  
  .btn1:hover {
    font-family: 'Poppins', sans-serif;
    background: #00a1c0;
    text-decoration: none;
  }
  
  #gs {
    text-align: center;
    padding-top: 32%;
  }
  
  .borderb1 {
    background-color: #00a1c0;
  }
  
  .block1 {
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-size: 15px;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .certificate {
    margin-left: 25%;
    margin-bottom: 17%;
  }
  
  
  @import url('https://fonts.googleapis.com/css?family=Roboto:700');
  
  @keyframes showTopText {
    0% {
      transform: translate3d(0, 100%, 0);
    }
  
    40%,
    60% {
      transform: translate3d(0, 50%, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes showBottomText {
    0% {
      transform: translate3d(0, -100%, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vmin;
  }
  
  .animated-title>div {
    font-family: 'Dancing Script', cursive;
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .animated-title>div div {
    font-size: 15vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  
  .animated-title>div div span {
    display: block;
  }
  
  .animated-title>div.text-top {
    border-bottom: 1vmin solid #000;
    z-index: 1;
    top: 0;
  }
  
  .animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  
  .animated-title>div.text-top div span:first-child {
    color: #767676;
  }
  
  .animated-title>div.text-bottom {
    font-family: 'Bebas Neue', cursive;
    bottom: 0;
  }
  
  .animated-title>div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
  #gs {
    animation: showBottomText 0.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
  }
  
  svg text {
    font-family: 'Dancing Script', sans-serif;
    letter-spacing: 10px;
    stroke: #013049;
    font-size: 25vw;
    font-weight: 700;
    stroke-width: 1.5;
    animation: textAnimate 3s infinite alternate;
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      fill: #00a1c0
    }
  
    60% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: #feb200
    }
  }

}
@media  (min-width: 474px) and (max-width: 800px) {
  body,html {
    margin: 0;
    height: 100%;
  }
  .parallax {
    background-image: url(../resources/laptop1.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .parallax1 {
    background-image: url(../resources/p3.jpg);
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .btn {
    text-align: right;
    border: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #013049;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    text-align: right;
    border-radius: 50px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #7acce8;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  #header {
    position: sticky;
    display: flex;
  }
  
  #left {
    padding-top: 10px;
    width: 25%;
    background: #013049;
  }
  
  #right {
    text-align: right;
    width: 75%;
    margin: 0px;
    border: 0px;
    padding: 5px;
    background-color: #013049;
  }
  
  .Learnen {
    padding: 0px;
    border: 0px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
  }
  
  body {
    background-color: #fcfcfc;
  }
  
  #body1 {
    display: flex;
  }
  
  #leftBody {
    width: 60%;
  }
  
  #matter {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
  }
  
  #Learnen1 {
    margin-top: 70px;
    margin-left: 200px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
  }
  
  .btn1 {
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    font-size: 20px;
    background: #7acce8;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }
  
  .btn1:hover {
    font-family: 'Poppins', sans-serif;
    background: #00a1c0;
    text-decoration: none;
  }
  
  #gs {
    text-align: center;
    padding-top: 28%;
  }
  
  .borderb1 {
    background-color: #00a1c0;
  }
  
  .block1 {
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-size: 20px;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .certificate {
    margin-left: 32%;
    margin-bottom: 17%;
  }
  
  
  @import url('https://fonts.googleapis.com/css?family=Roboto:700');
  
  @keyframes showTopText {
    0% {
      transform: translate3d(0, 100%, 0);
    }
  
    40%,
    60% {
      transform: translate3d(0, 50%, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes showBottomText {
    0% {
      transform: translate3d(0, -100%, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 40%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 70vmin;
  }
  
  .animated-title>div {
    font-family: 'Dancing Script', cursive;
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .animated-title>div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  
  .animated-title>div div span {
    display: block;
  }
  
  .animated-title>div.text-top {
    border-bottom: 1vmin solid #000;
    z-index: 1;
    top: 0;
  }
  
  .animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  
  .animated-title>div.text-top div span:first-child {
    color: #767676;
  }
  
  .animated-title>div.text-bottom {
    font-family: 'Bebas Neue', cursive;
    bottom: 0;
  }
  
  .animated-title>div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
  #gs {
    animation: showBottomText 0.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
  }
  
  svg text {
    font-family: 'Dancing Script', sans-serif;
    letter-spacing: 10px;
    stroke: #013049;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 3s infinite alternate;
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      fill: #00a1c0
    }
  
    60% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: #feb200
    }
  }
}
@media  (min-width: 801px) and (max-width: 1000px) {
  body,html {
    margin: 0;
    height: 100%;
  }
  
  .parallax {
    background-image: url(../resources/laptop1.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .parallax1 {
    background-image: url(../resources/p3.jpg);
    height: 60%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .btn {
    text-align: right;
    border: none;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #013049;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    text-align: right;
    border-radius: 50px;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #7acce8;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  #header {
    position: sticky;
    display: flex;
  }
  
  #left {
    padding-top: 10px;
    width: 25%;
    background: #013049;
  }
  
  #right {
    text-align: right;
    width: 75%;
    margin: 0px;
    border: 0px;
    padding: 5px;
    background-color: #013049;
  }
  
  .Learnen {
    padding: 0px;
    border: 0px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 15px;
    margin-bottom: 0%;
    margin-top: 0%;
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
  }
  
  body {
    background-color: #fcfcfc;
  }
  
  #body1 {
    display: flex;
  }
  
  #leftBody {
    width: 60%;
  }
  
  #matter {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 200px;
  }
  
  #Learnen1 {
    margin-top: 70px;
    margin-left: 200px;
    font-weight: bold;
    font-family: 'Satisfy', cursive;
    font-size: 70px;
  }
  
  .btn1 {
    border: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    font-weight: 300;
    line-height: 1.6;
    color: #000000;
    font-size: 20px;
    background: #7acce8;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
  }
  
  .btn1:hover {
    font-family: 'Poppins', sans-serif;
    background: #00a1c0;
    text-decoration: none;
  }
  
  #gs {
    text-align: center;
    padding-top: 28%;
  }
  
  .borderb1 {
    background-color: #00a1c0;
  }
  
  .block1 {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    font-size: 20px;
    /* justify-content: center; */
    /* align-items: center; */
  }
  
  .certificate {
    margin-left: 32%;
    margin-bottom: 17%;
  }
  
  
  
  @import url('https://fonts.googleapis.com/css?family=Roboto:700');
  
  @keyframes showTopText {
    0% {
      transform: translate3d(0, 100%, 0);
    }
  
    40%,
    60% {
      transform: translate3d(0, 50%, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes showBottomText {
    0% {
      transform: translate3d(0, -100%, 0);
    }
  
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .animated-title {
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 90vmin;
    left: 40%;
    position: absolute;
    top: 55%;
    transform: translate(-50%, -50%);
    width: 70vmin;
  }
  
  .animated-title>div {
    font-family: 'Dancing Script', cursive;
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .animated-title>div div {
    font-size: 12vmin;
    padding: 2vmin 0;
    position: absolute;
  }
  
  .animated-title>div div span {
    display: block;
  }
  
  .animated-title>div.text-top {
    border-bottom: 1vmin solid #000;
    z-index: 1;
    top: 0;
  }
  
  .animated-title>div.text-top div {
    animation: showTopText 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
  }
  
  .animated-title>div.text-top div span:first-child {
    color: #767676;
  }
  
  .animated-title>div.text-bottom {
    font-family: 'Bebas Neue', cursive;
    bottom: 0;
  }
  
  .animated-title>div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
  #gs {
    animation: showBottomText 0.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
  }
  
  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
  }
  
  svg text {
    font-family: 'Dancing Script', sans-serif;
    letter-spacing: 10px;
    stroke: #013049;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;
    animation: textAnimate 3s infinite alternate;
  }
  
  @keyframes textAnimate {
    0% {
      stroke-dasharray: 0 50%;
      stroke-dashoffset: 20%;
      fill: #00a1c0
    }
  
    60% {
      stroke-dasharray: 50% 0;
      stroke-dashoffstet: -20%;
      fill: #feb200
    }
  }
}

@media (min-width: 1001px) {
body,html {
  margin: 0;
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url(../resources/laptop1.jpg);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax1 {
  background-image: url(../resources/p3.jpg);
  height: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.btn {
  text-align: right;
  border: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #013049;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  text-align: right;
  border-radius: 50px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  background: #7acce8;
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#header {
  position: sticky;
  display: flex;
}

#left {
  padding-top: 10px;
  width: 25%;
  background: #013049;
}

#right {
  text-align: right;
  width: 75%;
  margin: 0px;
  border: 0px;
  padding: 5px;
  background-color: #013049;
}

.Learnen {
  padding: 0px;
  border: 0px;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
  margin-left: 15px;
  margin-bottom: 0%;
  margin-top: 0%;
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
}

body {
  background-color: #fcfcfc;
}

#body1 {
  display: flex;
}

#leftBody {
  width: 60%;
}

#matter {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
}

#Learnen1 {
  margin-top: 70px;
  margin-left: 200px;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
  font-size: 70px;
}

.btn1 {
  border: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 50px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
  font-size: 20px;
  background: #7acce8;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.btn1:hover {
  font-family: 'Poppins', sans-serif;
  background: #00a1c0;
  text-decoration: none;
}

#gs {
  text-align: center;
  padding-top: 28%;
}

.borderb1 {
  background-color: #00a1c0;
}

.block1 {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-size: 20px;
}

.certificate {
  float: left;
  margin-right: 70px;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }

  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 40%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  width: 70vmin;
}

.animated-title>div {
  font-family: 'Dancing Script', cursive;
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.animated-title>div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title>div div span {
  display: block;
}

.animated-title>div.text-top {
  border-bottom: 1vmin solid #000;
  z-index: 1;
  top: 0;
}

.animated-title>div.text-top div {
  animation: showTopText 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title>div.text-top div span:first-child {
  color: #767676;
}

.animated-title>div.text-bottom {
  font-family: 'Bebas Neue', cursive;
  bottom: 0;
}

.animated-title>div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

#gs {
  animation: showBottomText 0.5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 999999;
}

svg text {
  font-family: 'Dancing Script', sans-serif;
  letter-spacing: 10px;
  stroke: #013049;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 3s infinite alternate;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: #00a1c0
  }

  60% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: #feb200
  }
}
}
/* @media only screen and (min-width:320px) */