@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"');

body {
    font-family:"Poppins", sans-serif;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('../images/desktop.jpg') no-repeat center fixed;
    background-size: cover;
}

#back {
    margin-left: 0px;
}

.btn {
    cursor: pointer;
    font-weight: 700;
    font-family: Poppins,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: rgb(108, 195, 230);
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-right: 93vw;
}

.btn:hover {
    background: rgb(137, 137, 241);
}
  
.btn > svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
}
  
.btn:hover svg {
    transform: translateX(5px);
}

.btn:active {
    transform: scale(0.95);
}

.heading {
    text-align: center;
}

.container {
    line-height: 1;
    margin: 0 auto;
    width: auto;
    text-align: center;
    margin-bottom: 600px;
    columns: 3;
}

.container-1 {
    border: solid rgb(105, 104, 104);
    border-radius: 30px;
    margin: 0 200px;
}

.container-2 {
    border: solid rgb(105, 104, 104);
    border-radius: 30px;
    margin: 0 200px;
}

ul {
    list-style: none;
}

#users {
    text-align: center;
}

#mentors {
    text-align: center;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}
   
button.learn-more {
    width: 12rem;
    height: auto;
}
   
button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #5e68f5;
    border-radius: 1.625rem;
}
   
button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}
   
button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}
   
button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}
   
button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}
   
button:hover .circle {
    width: 100%;
}
   
button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}
   
button:hover .button-text {
    color: #fff;
}

.user-button {
    margin-top: -550px;
    margin-left: 380px;
    padding: 20px;
}

.mentorbtn {
    padding-top: -50px;
}